In [35]:
# importing pandas as pd
import pandas as pd
from tabulate import tabulate

# read an excel file and convert 
# into a dataframe object
df1 = pd.DataFrame(pd.read_excel("Summary-Repo.xlsx"))
df2 = pd.DataFrame(pd.read_excel("Summary-Commit.xlsx"))
# show the dataframe
df2
#print("****")
#print(df2)
#from IPython.display import display, HTML

#with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
 #   print(df2)
#print(tabulate(df, headers='keys', tablefmt='psql'))

,Dataset Name,Mirantis,Openstack,Wikimedia
0,Number of all Commits in Repository,3337,13256,160019
1,Number of Commits with Puppet Script Modification,1254,4780,66360
2,Number of Puppet Script,1880,1354,1036