In [3]:
# importing pandas as pd
import pandas as pd
from tabulate import tabulate

# read an excel file and convert 
# into a dataframe object
df1 = pd.read_csv("Man_Whitney_RQ1.csv")
#df1 = pd.read_csv("Clif_Delta_RQ1.csv")

# show the dataframe
df1
#print("****")
#print(df2)
#from IPython.display import display, HTML

#with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
 #   print(df2)
#print(tabulate(df, headers='keys', tablefmt='psql'))

,Feature Name,p-value Mirantis,p-value OpenStack,p-value Wikimedia,p-value Mozila
0,Attribute,0.0000,0.0000,0.0000,0.0000
1,Comment,0.0000,0.8742,0.0009,0.4651
2,Command,0.0001,0.0004,0.0006,0.0000
3,Ensure,0.0000,0.0000,0.0000,0.0459
4,File,0.0000,0.0000,0.0000,0.0000
5,File_mode,0.0000,0.0003,0.0000,0.0000
6,Hard_coded_string,0.0000,0.0000,0.0000,0.0000
7,Include,0.0001,0.0000,0.0000,0.0000
8,Lines_of_code,0.0000,0.0000,0.0000,0.0000
9,Require,0.0000,0.0000,0.0000,0.0000
10,SSH_KEY,0.0000,0.0003,0.0000,0.0000
11,URL,0.0004,0.9709,0.0016,0.0197
12,NaN,NaN,NaN,NaN,NaN